@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main">
        <div class="content px-4">
            <WebApplication.Pages.GraphView></WebApplication.Pages.GraphView>
        </div>
    </div>
</div>