<div class="row">
<div class="col">
        <div class="form-group">
            <label for="iterations">Iterations</label>
            <input type="number" id="iterations" class="form-control" @bind="Iterations">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="ants">Ant Count</label>
            <input type="number" id="ants" class="form-control" @bind="AntCount">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="alphaACS">Alpha</label>
            <input type="number" step="0.05" id="alphaACS" class="form-control" @bind="AlphaACS">
        </div>
    </div>
    @*<div class="col">
        <div class="form-group">
            <label for="rho">Rho</label>
            <input type="number" step="0.05" id="rho" class="form-control" @bind="Rho">
        </div>
    </div>*@
    <div class="col">
        <div class="form-group">
        <label for="beta">Beta</label>
        <input type="number" step="0.5" id="beta" class="form-control" @bind="Beta">
    </div>
    </div>
    @*<div class="col">
        <div class="form-group">
            <label for="ratio">Exploit vs. Explore</label>
            <input type="number" step="0.05" id="ratio" class="form-control" @bind="ExploitVsExplore">
        </div>
    </div>*@
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="breakWhenEqual" @bind="@BreakWhenPathsAreEqual">
        <label class="form-check-label" for="breakWhenEqual">Break when all ants are on the same path</label>
    </div>
</div>

@code {
    private int iterations;
    [Parameter]
    public int Iterations {
        get => iterations;
        set {
            if (value == iterations)
                return;

            iterations = value;
            IterationsChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<int> IterationsChanged { get; set; }

    private int antCount;
    [Parameter]
    public int AntCount {
        get => antCount;
        set {
            if (value == antCount)
                return;

            antCount = value;
            AntCountChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<int> AntCountChanged { get; set; }

    private double alphaACS;
    [Parameter]
    public double AlphaACS {
        get => alphaACS;
        set {
            if (value == alphaACS)
                return;

            alphaACS = value;
            AlphaACSChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<double> AlphaACSChanged { get; set; }

    private double rho;
    [Parameter]
    public double Rho {
        get => rho;
        set {
            if (value == rho)
                return;

            rho = value;
            RhoChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<double> RhoChanged { get; set; }

    private double beta;
    [Parameter]
    public double Beta {
        get => beta;
        set {
            if (value == beta)
                return;

            beta = value;
            BetaChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<double> BetaChanged { get; set; }

    private double exploitVsExplore;
    [Parameter]
    public double ExploitVsExplore {
        get => exploitVsExplore;
        set {
            if (value == exploitVsExplore)
                return;

            exploitVsExplore = value;
            ExploitVsExploreChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<double> ExploitVsExploreChanged { get; set; }

    private bool _breakWhenPathsAreEqual;
    [Parameter]
    public bool BreakWhenPathsAreEqual {
        get => _breakWhenPathsAreEqual;
        set {
            if (value == _breakWhenPathsAreEqual)
                return;

            _breakWhenPathsAreEqual = value;
            BreakWhenPathsAreEqualChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<bool> BreakWhenPathsAreEqualChanged { get; set; }
}