@inject IJSRuntime JSRuntime

<button @onclick="DownloadFileFromStream">Download</button>

@code {
    public string LoadedFile { get; set; }

    private async Task DownloadFileFromStream() {
        byte[] file = System.Text.Encoding.UTF8.GetBytes(LoadedFile);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", Guid.NewGuid().ToString()  + ".txt", "text/plain", file);
    }
}
