<div class="form-group">
    <label for="startnodeselect">Start Node</label>
    <div id="startnodeselect" class="input-group">
        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Increase start node position" @onclick="e => StartNode++"><i class="bi bi-plus-lg"></i></button>
        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Decrease start node position" @onclick="e => StartNode--"><i class="bi bi-dash-lg"></i></button>
        <div class="input-group-text">@StartNode</div>
    </div>
</div>

@code {
    private int startNode;
    [Parameter]
    public int StartNode {
        get => startNode;
        set {
            if (value == startNode)
                return;

            startNode = value;
            StartNodeChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<int> StartNodeChanged { get; set; }
}