@using TravellingSalesmanProblem.Algorithms
<div class="form-group">
    <label for="selectNeighbourType">Neighbour Function</label>
    <select class="form-control" name="neighbourType" id="selectNeighbourType" @bind="NeighbourEnum">
        <option value="TwoOpt" @onselect="e => NeighbourEnum = NeighbourType.TwoOpt">2-Opt</option>
        @*<option value="ThreeOpt" @onselect="e => NeighbourEnum = NeighbourType.ThreeOpt">3-Opt</option>
        <option value="FourOpt" @onselect="e => NeighbourEnum = NeighbourType.FourOpt">Double-bridge 4-Opt</option>*@
        <option value="Swap" @onselect="e => NeighbourEnum = NeighbourType.Swap">Swap</option>
    </select>
</div>

@code {
    private NeighbourType neighbourEnum;
    [Parameter]
    public NeighbourType NeighbourEnum {
        get => neighbourEnum;
        set {
            if (value == neighbourEnum)
                return;

            neighbourEnum = value;
            NeighbourEnumChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<NeighbourType> NeighbourEnumChanged { get; set; }
}